.header_container {
  height: 100vh;
  background: center no-repeat url("../../assets/header-background.jpg") grey;
  background-size: cover;
  color: #fff;

  //vertical center
  vertical-align: center;
  &:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }


  & .header_inner {
    display: inline-block;
    vertical-align: middle;

    width: 50%;
    margin-left: 45%;
    margin-right: 4%;
    padding: 60px 0;

    & h1 {
      margin: 0;
      font-size: 64px;
      font-style: italic;
      font-family: 'EB Garamond', serif;
    }

    & img {
      margin: 30px 0;
    }

    & .content {
      font-family: 'EB Garamond', serif;
      font-weight: 600;
      font-size: 24px;
      width: 80%;
    }

    & .link_container {
      margin-top: 45px;
    }
  }

  & .cake {
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
}